%section#download.content-section.text-center
  .download-section
    .container
      .col-lg-8.col-lg-offset-2
        %h2 Download Grayscale
        %p You can download Grayscale for free on the download page at Start Bootstrap. You can also get the source code directly from GitHub if you prefer. Additionally, Grayscale is the first Start Bootstrap theme to come with a LESS file for easy color customization!
        %a.btn.btn-default.btn-lg{href: "http://startbootstrap.com/grayscale"} Visit Download Page
