%section#see.content-section.text-center
  .see-section
    .container
      .col-lg-8.col-lg-offset-2
        %h2
          Can't Get Enough
          %small Elise Testone
        %iframe{allowfullscreen: "", frameborder: "0", src: "//www.youtube.com/embed/7CLSyg8Z12w", width: "794", height:'474'}
        %br
        %br
        %br
        %br
        %h2
          Airbag
          %small Radiohead
          %br
          %small Arrangement by Entropy Ensemble

        %iframe{allowfullscreen: "", frameborder: "0", src: "//www.youtube.com/embed/RuYEirb8KmQ", width: "794", height:'474'}
