%section#book.container.content-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      %h2 Book Me
      %p
        Need music for your upcoming event?  Whether it is Jazz, Rock, Latin Music, a Party Band, Soul, Funk, or R&B you are looking for, I can put together the perfect group that will make your event a success!
        %br

      %h4
        Email me!
        %a benwellsmusic [at] gmail [dot] com
