%section.intro
  .intro-body
    .container
      .row
        .col-md-8.col-md-offset-2
          %h1.brand-heading Ben Wells
          %h2 Music
          %p.intro-text Musician, Bassist,  Engineer located in Charleston SC
          .page-scroll
            %a.btn.btn-circle{href: "#about"}
              %i.fa.fa-angle-double-down.animated
